* {
  font-family: "Lato", sans-serif;
  font-size: 22px;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid brown;
  flex-wrap: wrap;
}

body {
  padding: 0 10%;
}

.flex-spaced {
  display: flex;
  justify-content: space-between;
}

.bgr {
  background-color: red;
}

.bordered {
  outline: 1px solid black;
}

.cards {
  width: 30%;
  height: auto;
  margin-bottom: 1rem;
}

.cards .container {
  /* background-color: red;
  height: fit-content; */
}

.title-like {
  display: flex;
  justify-content: space-between;
}

.cards .card-image {
  width: 10rem;
  outline: 1px solid saddlebrown;
  width: 100%;
  height: 10rem;
}

.card-comments {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

button {
  height: 40px;
  border-radius: 3px;
  width: 150px;
  box-shadow: 5px 5px;
}

.likes .icon {
  height: 30px;
  width: 30px;
  content: url('./images/heart.png');
}

.title-like .likes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 0.5rem;
}